.card-container-right{
  display: inline;
}

.card-container-left{
  display: inline;
}

.mat-card-header-text{
  width: 100% !important;
}

.mat-card {
  padding-top: 8px !important;
  padding-right: 15px !important;
  padding-bottom: 15px !important;
  padding-left: 15px !important;
}

.pb-0{
  padding-bottom: 5px !important;
}
